@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body,
a,
ul {
	margin:0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	background-color: #eceff1;
}

li {
	list-style-type: none;
}

.container {
	width:100%;
	text-align: center;
}

.wrapper {
	width:30%;
	margin:0 auto;
}

.map-enabled {
	margin-left: 5%;
	float: left;
}

#information {
	display: none;
}

.wrapper p {
	background: #ffe6cc;
	width:50%;
	margin:0 auto;
}

.text-input {
	width: 90%;
	padding: 5px 10px;
	margin-bottom: 5px;
	border:solid 1px #dcdcdc;
	border-radius: 3px;
	appearance:none;
	box-shadow: none;
	outline: none;
	transition:box-shadow 0.3s, border 0.3s;
}

.tel,
.web {
	width: 42.5%;
}

.text-input:focus {
	border-bottom: solid 2px #969696;
}

input[type="submit"] {
	padding: 10px;
	font-size: 15px;
	border-radius: 3px;
}

input[type="submit"]:hover {
	border: solid 2px #969696;
	transition:border 0.3s;
}

.map {
	display: none;
	margin-left: 10%;
	width: 50%;
	height:500px;
}

#errors li {
	background-color: #ffe6cc;
}

.error {
	display: none;
}
